@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #151c0d;
}

h1,
h2,
h3,
h4 {
  font-family: "Gabarito", serif;
}

p,
a,
div {
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-color: #a86a24;
  color: #fff;
}

.nav-items {
  min-width: 25%;
  max-width: 30%;
  height: auto;
  display: none;
  flex-direction: row;
  justify-content: space-between;
}

.logoTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.nav-items a {
  text-decoration: none;
  color: #f9f9f9;
  background-color: #276060;
  border-radius: 5px;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.nav-items a:hover,
.nav-items a:focus {
  background-color: #94d7d7;
  color: #276060;
}

.navbar .brand {
  font-size: 20px;
  font-weight: bold;
}

.hamburger {
  font-size: 24px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  background-color: #fefae0;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 1001;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin: 40px 0;
}

.sidebar ul li a {
  color: #f9f9f9;
  text-decoration: none;
  background-color: #276060;
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus {
  text-decoration: underline;
}

.nav-items a:hover,
.nav-items a:focus {
  text-decoration: underline;
}

.home-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  min-height: 80vh;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.about img {
  align-self: center;
  width: 20vh;
  height: auto;
}

.courses {
  display: flex;
  flex-direction: column;
  font-size: large;
  padding: 10px;
  height: 100%;
  justify-content: center;
}

.courses h4 > span {
  text-decoration: underline;
}

h4 {
  margin-top: 0;
}
.academics {
  margin-bottom: 0.5em;
}
.smaller {
  font-size: medium;
}

.scroll-area {
  width: 100%;
  max-width: 90%;
  height: 300px;
  border: 1px solid #a86a24;
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  background-color: #fefae0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-self: center;
}

.scroll-content {
  font-size: medium;
}
.course {
  font-size: medium;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.course:hover,
.course:focus {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}
.links {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.footer {
  background-color: #a86a24;
  color: #fefae0;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer p {
  font-weight: 600;
  align-self: center;
}

.exp-container {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  min-width: 300px;
  margin: 20px auto;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: white;
  justify-content: center;
}

.exp-container h2 {
  font-size: 18px;
  margin-bottom: 10px;
  border-bottom: 2px solid #a86a24;
  padding-bottom: 5px;
}

.exp {
  margin-bottom: 20px;
}

.exp h3 {
  font-size: 16px;
  margin: 5px 0;
  color: #222;
}

.exp .company {
  font-size: 14px;
  color: #555;
  margin: 2px 0;
  font-style: italic;
}

.exp .description {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}

@media screen and (min-width: 1024px) {
  .nav-items {
    display: flex;
  }
  .hamburger {
    visibility: hidden;
  }
  .home-grid {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: none;
  }
  .courses {
    padding: 0px;
  }
  .exp-container {
    max-width: 800px;
    padding: 30px;
  }

  .exp-container h2 {
    font-size: 20px;
  }

  .exp h3 {
    font-size: 18px;
  }

  .exp .description {
    font-size: 16px;
  }
}

.form-center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-center > p,
.form-center > h2 {
  text-align: center;
}

.form-container {
  max-width: 400px;
  min-width: 30%;
  width: 25vh;
  margin: 20px auto;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-field {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #588b8b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:focus,
button:hover {
  background-color: #94d7d7;
  color: #276060;
}

.linkedin-logo {
  width: 30px;
  height: auto;
  display: inline-block;
  cursor: pointer;
}

.logo {
  width: 3rem;
  height: auto;
  border-radius: 5px;
}

.exp-container {
  min-height: 80vh;
}
.form-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.form-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  position: relative;
  animation: glow 1.5s infinite alternate;
  box-sizing: border-box;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #276060, 0 0 20px #276060, 0 0 30px #276060,
      0 0 40px #276060;
  }
  to {
    box-shadow: 0 0 20px #3a8a8a, 0 0 30px #3a8a8a, 0 0 40px #3a8a8a,
      0 0 50px #3a8a8a;
  }
}

.formfield {
  margin-bottom: 15px;
}

.formfield label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formfield input,
.formfield textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #a86a24;
  border-radius: 5px;
  box-sizing: border-box;
}

.feedback {
  margin-top: 10px;
  color: green;
  font-weight: bold;
  text-align: center;
}
